body{
    background-color: white;
}


#Visualizer{

    border-style: solid;
    border-color: aqua;
    border-width: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    
    
}

#teksti1,#teksti2, #teksti3, #teksti4, #teksti5, #teksti6{
    color: aliceblue;
}

